html,
body {
    background-color: #333;
    min-height: 2000px;
    width: auto;
    padding-top: 40px;
}
.container {
    min-width: 1300px;     
}

.jumbotron {
    background-color: #fff;
}
.menu-wrapper {
    position: relative;
    width: 100%;
}

.entry-content p {
    word-wrap: break-word;
    font-family: 'Montserrat', cursive;
    line-height: 22px;
    font-size: 12px;
}

.foo-chumbo {
    outline: 1px solid #333;
}

.boxed {
    font-family: 'Ubuntu', cursive;
    text-transform: uppercase;
    color: whitesmoke;
    padding: 10px;
    -webkit-box-shadow: 0 0 27px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 27px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 27px rgba(0, 0, 0, 0.4);
}

/*---------------------------------------------------------
 Custom logo (_scaffolding.scss)
-------------------------------------------------------- */

.custom-logo {
    /*    background-image: url('../images/imagem_transparente.png');*/
    width: 150px;
    height: 283px;
    display: block;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}
.custom-logo a {
    display: block;
    width: 100%;
    height: 0;
    font: 0/0 a;
    text-decoration: none;
    text-shadow: none;
    color: transparent;
}

.centered .custom-logo {
    margin: 0 auto;
}
.centered .site-navigation {
    margin-bottom: 0;
}
.site-header {
    position: relative;
    margin-bottom: 50px;
    margin-bottom: 4rem;
}

/*---------------------------------------------------------
 NAV-PILLS Customizado
-------------------------------------------------------- */
.nav-custom{
    padding-left:0;
    margin-bottom:0; 
}

.nav-custom>li{
    position:relative;
    display:block;
}

.nav-custom>li>a{
    position:relative;
    display:block;
    padding:5px 50px;
    color: black; 
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-size: 1.5rem;
    margin: 20px 0px;
    margin: 3rem 0px;
    z-index: 100;
    font-family: 'Montserrat', cursive;
    border-radius:4px;
}

.nav-custom>li>a:hover,.nav>li>a:focus{
    text-decoration:none;
    background-color:#333;
    color: gold;
}

.nav-custom>li.disabled>a{
    color:#777
}

.nav-custom>li.disabled>a:hover,.nav>li.disabled>a:focus{
    color:#777;
    text-decoration:none;
    cursor:not-allowed;
    background-color:transparent
}

.nav-custom .open>a,.nav .open>a:hover,.nav .open>a:focus{
    background-color:#eee;
    border-color:#428bca
}

.nav-custom .nav-divider{
    height:1px;
    margin:9px 0;
    overflow:hidden;
    background-color:#e5e5e5
}

.nav-custom>li>a>img{
    max-width:none
}

/*---------------------------------------------------------
Fonts
-------------------------------------------------------- */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat-Regular"), url("../fonts/montserrat.woff") format("woff");
}

@font-face {
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Fira Sans"), local("../fonts/FiraSans-Regular.woff"), url("") format("woff");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu-Bold"), url("../fonts/Ubuntu-Bold.woff") format("woff");
}
/*---------------------------------------------------------
 Menu de selecao de segmento via angular
-------------------------------------------------------- */
.chooseLib{border-bottom: 1px solid #000; padding-bottom: 10px; margin-bottom: 20px;}
.libs {list-style-type: none; margin: 0px; padding: 0px; width: 300px;}
.libs li {background: #B4DFA6; padding: 10px;  margin-bottom: 3px;}
.libs li span{margin-right: 10px;}
.libs-input[type="checkbox"] {margin-right: 5px;}
.libs-label {margin-right: 30px;}

/*---------------------------------------------------------
 Navigation (_scaffolding.scss)
-------------------------------------------------------- */
.navigation {
    list-style: none;
    margin: 15px 0;
    margin: 1.5rem 0;
}
.navigation li {
    display: inline-block;
    margin-right: 15px;
}

.site-navigation {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-size: 1.5rem;
    margin: 10px 0px;
    margin: 1rem 0px;
    position: relative;
    z-index: 100;
}
.site-navigation .main-menu {
    margin-bottom: 0;
}
.site-navigation a {
    color: inherit;
}
@media screen and (min-width: 800px) {
    .site-navigation ul > li:before {
        content: '\2044';
        display: inline-block;
        padding: 0px 25px;
    }
    .site-navigation ul > li:first-child:before {
        display: none;
    }
    .site-navigation ul > li li :before {
        display: none;
    }
    .site-navigation ul ul {
        float: left;
        position: absolute;
        top: 1.5em;
        left: -999em;
        z-index: 99999;
        padding-top: 5px !important;
    }
    .site-navigation ul ul ul {
        position: relative;
        top: 0 !important;
        left: 0 !important;
        margin-bottom: 1px !important;
        margin-left: 15px !important;
        padding-top: 0 !important;
    }
    .site-navigation ul ul li:hover > ul {
        left: 100%;
    }
    .site-navigation ul li:hover > ul {
        left: 40px;
    }
    .site-navigation .sub-menu {
        padding: 0;
        margin: 0;
        margin-top: 3px !important;
        width: 200px;
        text-align: left;
    }
    .site-navigation .sub-menu ul {
        margin-top: 0 !important;
    }
    .site-navigation .sub-menu li {
        display: block;
        margin-top: 1px;
    }
    .site-navigation .sub-menu li::before {
        display: none;
    }
    .site-navigation .sub-menu a {
        background: #000;
        color: #fff;
    }
}
.site-navigation a:not(.close-menu) {
    padding: 4px 15px;
    display: inline-block;
}
.site-navigation a:not(.close-menu):hover {
    background: #000;
}
.site-navigation li {
    display: inline-block;
    position: relative;
}

.nav-open {
    overflow: hidden;
}

@media screen and (min-width: 800px) {
    .menu-toggle,
    .close-menu {
        display: none;
    }
}
@media screen and (max-width: 800px) {
    .site-navigation {
        display: none;
    }

    .mobile-navigation {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 50px 0;
        background: white;
        text-align: center;
        z-index: 501;
        font-size: 20px;
        font-size: 2rem;
        font-weight: bold;
        overflow: scroll;
        opacity: 1;
        max-height: 9999px;
        -webkit-overflow-scrolling: touch;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    .mobile-navigation ul {
        margin: 0;
        padding: 0;
    }
    .mobile-navigation li {
        display: block;
        margin: 15px 0;
        margin:  1.5rem 0;
    }

    .menu-wrapper {
        position: relative;
        width: 100%;
    }

    .main-menu {
        width: 100%;
    }

    .sub-menu {
        font-size: 15px;
        font-size: 1.5rem;
    }
    .sub-menu a {
        color: #6d6d6d;
    }
    .sub-menu li {
        margin: 5px 0;
    }

    .menu-toggle {
        position: absolute;
        top: 50%;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .menu-toggle {
        right: 0;
        color: #000;
        font-size: 25px;
        font-size: 2.5rem;
    }

    .close-menu {
        position: absolute;
        top: 50px;
        right: 20px;
        color: #000;
        z-index: 502;
        font-size: 25px;
        font-size: 2.5rem;
    }
    .close-menu:hover {
        color: inherit !important;
    }
}
/*---------------------------------------------------------
 Clearfix para resolver problema de sobreposição do float
-------------------------------------------------------- */
.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}