.container2 {
    height: 386px;
    perspective: 500px;
    position: relative;
    width: 316px;
}
.card {
    border-radius: 5px;
    border: 1px solid #CCC;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    width: 100%;
}
.card section {
    backface-visibility: hidden;
    background-color: #FFF;
    border-radius: 5px;
    position: absolute;
}
.post-back {
    transform: rotateY(180deg);
}
.post-front {
/*    z-index: 1;*/
}

.card.flipped {
    transform: rotateY(180deg);
}

.card-img {
opacity:1;
filter:alpha(opacity=100);
}
.tinted {
/*  opacity: 0.8;*/
    background-color: #000;
  background-color: rgba(0,0,0,0.5);
 }
 
 .figcaption {
  bottom: 5px;
  margin: 0 5px;
  padding: 5px;
/*  position: absolute;*/
  width: 300px;
  background-color: #000;
  background-color: rgba(0,0,0,0.5);
  color: #FFF;
}
.post-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 25px;
}
.overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../images/overlay.png") bottom left repeat-x;
}
.hidden {
  visibility: hidden;
  width: 100%;
}
